.c-doll-wrapper {
  padding: $doll-frame-padding;
}

.c-doll-wrapper__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: $doll-title-padding;
  height: $doll-title-height;
  width: 100%;
}
