.c-doll-wrapper {
  padding: $doll-frame-padding;

  background: url('../assets/wardrobe.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

.c-doll-wrapper__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: $doll-title-padding;
  height: $doll-title-height;
  width: 100%;
}
