.c-lookmaker {
  margin: $lookmaker-spacing;
  width: 94%;
  max-width: $max-vertical-display-width;
}

.c-lookmaker__furniture {
  position: relative;
  overflow: hidden;

  background: url('../assets/wardrobe-1x.png');
  background-repeat: no-repeat;
  background-size: auto 100%;

  &::before {
    content: '';
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: $lookmaker-aspect-ratio;
  }
}

.c-lookmaker__controls {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-lookmaker__doll {
  background-position: top left;

  &::before {
    padding-top: $doll-aspect-ratio;
  }
}

.c-lookmaker__wardrobe {
  background-position: top right;

  /* drawer-specific styling */
  margin: $lookmaker-spacing;
  width: 94%;
  max-width: $max-vertical-display-width;

  &::before {
    padding-top: $wardrobe-aspect-ratio;
  }
}

@media #{$mq-medium} {
  .c-lookmaker {
    max-width: $max-horizontal-display-width;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  .c-lookmaker__doll {
    width: $doll-display-width;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .c-lookmaker__wardrobe {
    /* drawer-specific styling */
    margin: auto;
    width: auto;
    max-width: none;
  }
}
