.c-lookmaker {
  margin: 0 auto;
  max-width: $max-display-width;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.c-lookmaker__furniture {
  position: relative;
  overflow: hidden;

  background: url('../assets/wardrobe.png');
  background-repeat: no-repeat;
  background-size: auto 100%;

  &::before {
    content: '';
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: $lookmaker-aspect-ratio;
  }
}

.c-lookmaker__controls {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-lookmaker__doll {
  background-position: top left;

  width: $doll-display-width;
  flex-grow: 0;
  flex-shrink: 0;

  &::before {
    padding-top: $doll-aspect-ratio;
  }
}

.c-lookmaker__wardrobe {
  background-position: top right;

  flex-grow: 1;
  flex-shrink: 1;

  &::before {
    padding-top: $wardrobe-aspect-ratio;
  }
}
