.c-wardrobe {
  padding: $wardrobe-frame-padding;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
}

.c-wardrobe__shelf {
  flex: auto 1 1;
  padding: $wardrobe-shelf-padding;

  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}

.c-wardrobe__button {
  flex: 20% 1 1;
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
}

.c-wardrobe__clear-button {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(50%) translateY(-50%);
}
