$base-font-size-small: 87.5%;
$base-font-size-medium: 100%;
$base-font-size-large: 100%;
$base-font-family: 'Lookmaker';
$base-line-height: 1.1;
$base-letter-spacing: -0.005em;

$font-weight-regular: 500;
$font-weight-bold: 800;
