* { box-sizing: border-box; }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0 0 4em;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;

  color: $colour-highlight;
  background: $colour-background;
}
