@font-face {
  font-family: 'Lookmaker Bold';
  src: url('../assets/fonts/noyhr-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lookmaker';
  src: url('../assets/fonts/noyhr-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
