@font-face {
  font-family: 'Lookmaker';
  src: url('../assets/fonts/noyhr-bold.woff') format('woff');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lookmaker';
  src: url('../assets/fonts/noyhr-medium.woff') format('woff');
  font-weight: $font-weight-regular;
  font-style: normal;
}
