#💖 {
  text-align: center;
  padding: 1em;
  letter-spacing: 0.01em;
  line-height: 0.8;
  color: $colour-highlight;
  background: $colour-background;

  a {
    color: inherit;
  }

  span {
    display: none;

    @media screen and (min-width: 600px) {
      display: inline;
    }
  }

  strong {
    display: inline-block;
    vertical-align: -0.2em;
  }
}

@media #{$mq-medium} {
  #💖 {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
  }
}
