@import '~normalize.css';

@import 'settings/layout';
@import 'settings/typography';
@import 'settings/hot-looks-palette';

@import 'base/preloader';

@import 'components/c-lookmaker';
@import 'components/c-doll-wrapper';
@import 'components/c-wardrobe-wrapper';
@import 'components/c-wardrobe-button';
@import 'components/c-title';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
}
