@import "~normalize.css";

@import 'settings/hot-looks-palette';
@import 'settings/layout';

@import 'base/preloader';

@import 'components/c-lookmaker';
@import 'components/c-doll-wrapper';
@import 'components/c-wardrobe-wrapper';
@import 'components/c-wardrobe-button';
@import 'components/c-title';

body {
  font-family: 'Noyh R';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
}
